{% extends "layout.html" %}

{% block content %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static', filename='assets/img/me.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">Who I am?</span>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">                              
                    <!-- Post preview-->
                    <div class="post-preview">
                        
                            <h2 class="post-title"> Who I am? </h2>
                            <h3 class="post-subtitle"> I'm James Reniel G. Bambao, I'm from Parañaque, Philippines study in Technological of the Philippines Taguig Campus as Technical Vocational Education Major in Electronics Technology.  </h3>
<br> <br> <br>
                              <h2 class="post-title"> This is what I do </h2>
                            <h3 class="post-subtitle"> I'm learning integration of technology in Education by creating simmple software and simple website... I'm curious about digitalization and what will be happen in future. It's my pleasure to create this porforlio website through coding. </h3> 

                        
                              <p> <a href="https://web.facebook.com/jbambao09">To know me more contact me </a> </p> 

                        
                        
                    </div>
                    </div>
                </div>
            </div>
        </main>

{% endblock content %}