{% extends "layout.html" %}

{% block content %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static', filename='assets/img/reflection4.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1> Demo-Teaching </h1>
                            <span class="subheading">Reflection 4</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p> On day 5 of demo teaching (week 10) in Home Economics, I learned that preparation is crucial to becoming an effective facilitator who can handle the unique behaviors of each learner. A positive classroom environment can greatly impact the learning process and keep students motivated. Lesson plans help us prepare to teach a particular topic.
</p>
                  <p> 
                 According to Prof. Alvadaro, analyzing the topic and the flow of the lesson plan should be the basis of the learning process. When choosing a topic, Prof. Florendo advised us to use the SMART method, which emphasizes being specific. When I first made a detailed lesson plan, I was overwhelmed because it was almost 15 pages long for a 45-minute class. But now I understand that choosing a specific topic is significant when taking a demo teaching. Demo teaching prepares me to be a great facilitator in classroom it should be always make it simple to method of teaching with interactive with its learner that's why, create a plan and analyzing the learner are the essential part of learning process. 
                  </p>
                  <p>
                  In conclusion, we should always utilize the SMART method when creating a lesson plan and analyze our audience or learners to carry out an effective lecture in the learning environment.
                  </p>
                </div>
            </div>
        </div>

{% endblock content %}