{% extends "layout.html" %}

{% block content %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static', filename='assets/img/reflection2.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1> Demo-Teaching </h1>
                            <span class="subheading">Reflection 2</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p> On day 2 of demo teaching (week 6) in Home Economics, I learned more convincing teaching strategies about interesting topics such as tools and equipment in cookery and the field of caregiving. However, there is one thing that I have always been curious about: how to teach the equipment and tools with actual demonstrations? As a student for many years, I always sought the answer to this problem. But now, I understand that we should not just focus on finding the answer, but rather on how we can solve the problem and come up with a solution.
</p>
                  <p> 
                 If I were teaching about "tools and equipment," I would bring those tools and demonstrate them to my students to help strengthen their knowledge and simplify the explanation. This is because some demo teachers don't care about interacting with their learners. That's why in my lecture plan, I will create 2 evaluation learning processes because I believe that problems make us stronger, and they will form the foundation for us to learn more. I will focus more on the evaluation process tests.
                  </p>
                  <p>
                  In conclusion, I will not just focus on conveying information about a certain topic, but I will also put my attention on a learner-based approach and make the learning process interactive to boost their confidence.
                  </p>
                </div>
            </div>
        </div>

{% endblock content %}