{% extends "layout.html" %}

{% block content %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static', filename='assets/img/reflection1.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1> Demo-Teaching </h1>
                            <span class="subheading">Reflection 1</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p> On day 1 of demo teaching (week 5), I was fascinated to learn about home economics and pursue one of the most interesting topics - proportional and conversion unit (mensuration and calculation). I chose to teach about the caregiving field because some of the presenters (demo-teachers) were teaching about tools and equipment. I wanted to challenge myself to teach a topic that wasn't in my field. It was hard, but it taught me a lot about the importance of lesson planning and analyzing the presentation.</p>
                  <p> 
                  During that moment, I thought about creating a website that has valuable information about home economics, like an e-portfolio, to help those teachers who struggle to search for information about home economics. I started to create a scratch website with databases and drafted a portfolio. However, in some instances, I realized that it might be time-consuming. To be honest, I wanted to create valuable online resources, but we all face personal problems and challenges in life.
                  </p>
                  <p>
                  Actually, during the demo-teacher, one thing that I took away was the importance of setting objectives in the lesson plan. The objectives should be based on what we have taught in the learning environment. 
                  </p>
                </div>
            </div>
        </div>

{% endblock content %}